streamlit
pandas
numpy
yfinance
plotly
nsepython
requests
beautifulsoup4
python-telegram-bot
flask
datetime
timezone
parsedate_to_datetime
io
logging
lxml
warnings
timedelta
matplotlib
RSIIndicator
EMAIndicator
AverageTrueRange
ta
