aiohttp
feedparser
yfinance
flask
pytz
vaderSentiment
sumy
numpy
matplotlib
mplfinance
xgboost
scikit-learn
joblib
transformers
torch
shap
lightgbm
gTTS
plotly
redis
aiosqlite
polars
requests
setuptools
wheel
